@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(18, 233, 224);
  background: radial-gradient(
    circle,
    rgba(18, 233, 224, 1) 8%,
    rgba(60, 60, 149, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #555;
}
::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  width: #242424;
}
